# Data Leakage

Data leakage refers to a mistake make by the creator of a machine learning model in which they accidentally share information between the test and training data-sets. Typically, when splitting a data-set into testing and training sets, the goal is to ensure that no data is shared between the two. This is because the test set’s purpose is to simulate real-world, unseen data. However, when evaluating a model, we do have full access to both our train and test sets, so it is up to us to ensure that no data in the training set is present in the test set.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

final_db_prep = pd.read_csv('dataset/final_db_processed.csv')
use_db = final_db_prep.copy()

In [7]:
sum(use_db.drop_duplicates().shape[0] == use_db.shape[0])

True

A quanto pare non ci sono test che hanno stessi valori.

Probabilmente il dataset è da risistemare, perchè molte variabili sono state escluse ( kingdom).
E' probabile che debba rifare un po' di preprocessing solo su species e solo sui chemicals.

Controllare correlazione tra variabili e target. E controllare l'importanza delle feature.

In [6]:
import pandas as pd

cas_mw = pd.read_csv('dataset/cas_mw.csv').drop(columns = 'Unnamed: 0')
cas_mw
sum(cas_mw['mw'].isnull())

513

In [11]:
cas_to_smiles = pd.read_csv('dataset/cas_to_smiles.csv').drop(columns = 'Unnamed: 0')
print(sum(cas_to_smiles['smiles'].isnull()))

465

In [12]:
cas_to_smiles.merge(cas_mw, left_on = 'cas', right_on = 'cas')

             cas                                             smiles        mw
0     10108-64-2                                 [Cl-].[Cl-].[Cd++]  183.3160
1        88-30-2                  Oc1ccc(c(c1)C(F)(F)F)[N+]([O-])=O  207.1087
2      1397-94-0  CCCCCC[C@@H]1[C@@H](OC(=O)CC(C)C)[C@H](C)OC(=O...  548.6320
3     25474-41-3                                                NaN       NaN
4       540-72-7                                      [Na+].[S-]C#N   81.0675
...          ...                                                ...       ...
3196  14008-58-3                           CCCCNC(=O)NC(=O)c1cccnc1  221.2584
3197  53762-97-3                                                NaN       NaN
3198  52316-55-9              COC(=O)Nc1[nH]c2ccccc2n1.O[P](O)(O)=O  289.1841
3199    499-83-2                             OC(=O)c1cccc(n1)C(O)=O  167.1208
3200     68-11-1                                           OC(=O)CS   92.1124

[3201 rows x 3 columns]