# 1-NN

In [1]:
from helper_rasar import *

df_nn1 = nn1_rasar()
df_nn1

Computing distance matrix... Wed Sep 16 12:21:43 2020
Computing 1-NN... Wed Sep 16 12:37:23 2020

      idx_test  idx_neigh_train  label_train
0        19755             6992            1
1         2240            10850            1
2        12304             5194            1
3         3096             2977            0
4         7840            11798            0
...        ...              ...          ...
8855     17372            12400            1
8856      5833             2682            0
8857      4770             3559            1
8858     15334             9269            0
8859     20155            17513            1

[8860 rows x 3 columns]

# 5-NN
I choose to follow RASAR article using a 5-NN instead of 3-NN

In [1]:
from helper_rasar import *

df_nn5 = nn5_rasar()
df_nn5

Computing distance matrix... Tue Sep 22 18:29:02 2020
Computing 5-NN... Tue Sep 22 18:42:17 2020
Tue Sep 22 18:42:42 2020

      label0_count  label1_count
0              4.0           1.0
1              2.0           3.0
2              2.0           3.0
3              3.0           2.0
4              3.0           2.0
...            ...           ...
8852           3.0           2.0
8853           3.0           2.0
8854           2.0           3.0
8855           1.0           4.0
8856           2.0           3.0

[8857 rows x 2 columns]

# Simple RASAR

## DF test

For each test experiments find the 0s and 1s nearest neighbors in train experiments and their relative distances.

## DF Train

For each train experiment find the 0s and 1s nearest neighbors in train experiments and their relative distance.

Since each train experiment has one label, 0 or 1, I don't want to find itself as neighbor for its respective class. So, I use a 2-NN such that if it finds out that the first NN is itself, automatically it swaps with the second. On the contrary, if it finds out that the first NN is not itself, it keeps going on with the first NN.

In [1]:
from helper_rasar import *

print('Load data...', ctime())
X_try, y = load_data_rasar('data/lc_db_processed.csv', encoding = 'binary', seed = 42)

acc, se_acc, rmse, se_rmse = cv_simple_rasar(X_try, y)

Load data... Fri Sep 18 18:23:02 2020
Computing distance matrix... Fri Sep 18 18:23:03 2020
Start CV... Fri Sep 18 18:35:24 2020
...END Simple RASAR Fri Sep 18 19:02:20 2020
Accuracy: 	 0.906997570570498, se: 0.001957554194969314
    RMSE: 		 0.30489571972672724, se: 0.003202714544842038
    Sensitivity: 	 0.9524006595432942, se: 0.0019256120362014873
    Precision: 	 0.903197085506742, se: 0.003006025789248351
    Specificity: 	 0.8325926949194414, se: 0.005033025139211729