# Wrapping up

Dai file *raw* che abbiamo, ossia:
- 'results.txt'
- 'test.txt' 
- 'species.txt'

filtrando i dati e analizzando le variabili otteniamo un dataset basilare chiamato **base_db.csv**. Poi si estraggono i cas number dai chemicals e le relative proprietà. Facendo un po' di preprocessing si ottiene il db **final_db_processed.csv**.

In [1]:
import numpy as np
import pandas as pd

db = pd.read_csv('dataset/final_db_processed.csv')
db

,test_cas,species,conc1_type,exposure_type,obs_duration_mean,conc1_mean,atom_number,alone_atom_number,bonds_number,doubleBond,tripleBond,ring_number,Mol,MorganDensity,LogP,class,tax_order,family,genus
0,100-00-5,rerio,F,F,48.0,15.00,0.317908,2,0.488106,1,0,1.0,0.535725,1.300000,2.2482,Actinopterygii,Cypriniformes,Cyprinidae,Danio
1,100-00-5,rerio,F,F,96.0,15.00,0.317908,2,0.488106,1,0,1.0,0.535725,1.300000,2.2482,Actinopterygii,Cypriniformes,Cyprinidae,Danio
2,100-01-6,rerio,F,S,96.0,87.60,0.317908,2,0.488106,1,0,1.0,0.510371,1.300000,1.1770,Actinopterygii,Cypriniformes,Cyprinidae,Danio
3,100-02-7,rerio,F,AQUA,48.0,26.50,0.317908,2,0.488106,1,0,1.0,0.511738,1.300000,1.3004,Actinopterygii,Cypriniformes,Cyprinidae,Danio
4,100-44-7,rerio,F,S,96.0,4.00,0.217006,0,0.447258,0,0,1.0,0.493578,1.125000,2.4254,Actinopterygii,Cypriniformes,Cyprinidae,Danio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23327,94-75-7,boga,F,R,96.0,3.80,0.410746,0,0.537196,1,0,1.0,0.601033,1.461538,2.4568,Actinopterygii,Cypriniformes,Cyprinidae,Labeo
23328,94-75-7,neilgherriensis,F,R,24.0,7.80,0.410746,0,0.537196,1,0,1.0,0.601033,1.461538,2.4568,Actinopterygii,Cypriniformes,Cyprinidae,Rasbora
23329,94-75-7,neilgherriensis,F,R,48.0,6.80,0.410746,0,0.537196,1,0,1.0,0.601033,1.461538,2.4568,Actinopterygii,Cypriniformes,Cyprinidae,Rasbora
23330,94-75-7,neilgherriensis,F,R,96.0,5.60,0.410746,0,0.537196,1,0,1.0,0.601033,1.461538,2.4568,Actinopterygii,Cypriniformes,Cyprinidae,Rasbora
23331,95-76-1,pardalis,A,R,96.0,5.18,0.273831,0,0.468705,0,0,1.0,0.541108,1.111111,2.5756,Actinopterygii,Cyprinodontiformes,Goodeidae,Chapalichthys

In [2]:
db.columns

Index(['test_cas', 'species', 'conc1_type', 'exposure_type',
       'obs_duration_mean', 'conc1_mean', 'atom_number', 'alone_atom_number',
       'bonds_number', 'doubleBond', 'tripleBond', 'ring_number', 'Mol',
       'MorganDensity', 'LogP', 'class', 'tax_order', 'family', 'genus'],
      dtype='object')

Le variabili del lavoro precedente sono: 

- test_cas: il composto testato
- conc1_type: file *concentration_type_code.txt*
- conc1_mean: concentrazione media
- exposure_type
- obs_duration_mean

Proprietà dell'animale su cui è stato testato il composto (in ordine di classificazione scientifica del regno animale):

- class
- tax_order
- family
- genus
- species

Questa scala è utile per la verifica che le specie su cui è stato testato un composto costituiscano un'albero filogenetico.

Proprietà estratte dal CAS Number:

- atom_number
- alone_atom_number
- bonds_number
- doubleBond
- tripleBond
- ring_number
- Mol
- MorganDensity
- LogP

In [3]:
info = pd.read_csv('dataset_prova/cas_sm_pubchem.csv').drop(columns = 'Unnamed: 0')
info

,cas,smiles,pubchem2d
0,10108-64-2,[Cl-].[Cl-].[Cd++],0000000000000000000000000000000000000110000000...
1,88-30-2,Oc1ccc(c(c1)C(F)(F)F)[N+]([O-])=O,1000000001100010001100011000000000000000000000...
2,1397-94-0,CCCCCC[C@@H]1[C@@H](OC(=O)CC(C)C)[C@H](C)OC(=O...,1111000001111011001111000000000000000000000000...
3,25474-41-3,NaN,NaN
4,540-72-7,[Na+].[S-]C#N,0000000000000010000000000010000001000000000000...
...,...,...,...
3196,14008-58-3,CCCCNC(=O)NC(=O)c1cccnc1,1100000001110011001100000000000000000000000000...
3197,53762-97-3,NaN,NaN
3198,52316-55-9,COC(=O)Nc1[nH]c2ccccc2n1.O[P](O)(O)=O,1100000001110011001110000000001000000000000000...
3199,499-83-2,OC(=O)c1cccc(n1)C(O)=O,1000000001100010001110000000000000000000000000...
3200,68-11-1,OC(=O)CS,1000000001000000001100000000000001000000000000...

Troviamo i composti che non hanno gli smiles:

In [4]:
idx_sm = info.smiles.isnull()

no_smiles = info.cas[idx_sm]
len(no_smiles)

465

In [5]:
no_smiles = pd.DataFrame(no_smiles.values,columns = ['cas_no_smiles'])

In [45]:
no_smiles.reset_index(drop = True).to_csv('dataset_prova/chem_no_smiles.csv')

Troviamo i composti che non hanno i pubchem2d:

In [6]:
idx_pb = info.pubchem2d.isnull()

no_pubchem = info.cas[idx_pb]
print(len(no_pubchem))
no_pubchem = pd.DataFrame(no_pubchem.values,columns = ['cas_no_pubchem2d'])

481

In [54]:
no_pubchem.reset_index(drop = True).to_csv('dataset_prova/chem_no_pubchem2d.csv')

I composti che non hanno o il pubchem2d o lo smiles sono:

In [7]:
info[info.smiles.isnull() | info.pubchem2d.isnull()].reset_index(drop=True)

             cas smiles pubchem2d
0     25474-41-3    NaN       NaN
1     12642-13-6    NaN       NaN
2     68951-67-7    NaN       NaN
3     96638-72-1    NaN       NaN
4     64618-68-4    NaN       NaN
..           ...    ...       ...
476  119364-85-1    NaN       NaN
477  172521-70-9    NaN       NaN
478   32289-58-0    NaN       NaN
479   53763-34-1    NaN       NaN
480   53762-97-3    NaN       NaN

[481 rows x 3 columns]

In [8]:
info[info.smiles.isnull() | info.pubchem2d.isnull()].reset_index(drop=True).to_csv('dataset_prova/no_smi_pub.csv')

Descrizione 3 file generati:

- **no_smiles.csv**: ci sono i composti che non hanno lo smiles.

- **no_pubchem.csv**: ci sono i composti che non hanno la rappresentazione pubchem2d usando *rdkit*

- **no_smi_pub.csv**: ci sono i composti che non hanno lo smiles o in alternativa non hanno il pubchem oppure non hanno né l'uno né l'altro.

Da notare che se non si conosce lo smiles allora non si conosce il pubchem2d. Se si conosce lo smiles non è detto che si conosca pure il pubchem2d.

I composti di cui conosciamo sia il pubchem2d che lo smiles sono:

In [9]:
sm_pub = info[info.pubchem2d.isnull() == False]
sm_pub

,cas,smiles,pubchem2d
0,10108-64-2,[Cl-].[Cl-].[Cd++],0000000000000000000000000000000000000110000000...
1,88-30-2,Oc1ccc(c(c1)C(F)(F)F)[N+]([O-])=O,1000000001100010001100011000000000000000000000...
2,1397-94-0,CCCCCC[C@@H]1[C@@H](OC(=O)CC(C)C)[C@H](C)OC(=O...,1111000001111011001111000000000000000000000000...
4,540-72-7,[Na+].[S-]C#N,0000000000000010000000000010000001000000000000...
5,72-43-5,COc1ccc(cc1)C(c2ccc(OC)cc2)C(Cl)(Cl)Cl,1100000001111000001100000000000000000110000000...
...,...,...,...
3195,103-05-9,CC(C)(O)CCc1ccccc1,1110000001110000001000000000000000000000000000...
3196,14008-58-3,CCCCNC(=O)NC(=O)c1cccnc1,1100000001110011001100000000000000000000000000...
3198,52316-55-9,COC(=O)Nc1[nH]c2ccccc2n1.O[P](O)(O)=O,1100000001110011001110000000001000000000000000...
3199,499-83-2,OC(=O)c1cccc(n1)C(O)=O,1000000001100010001110000000000000000000000000...
3200,68-11-1,OC(=O)CS,1000000001000000001100000000000001000000000000...

In [74]:
print('I composti di cui sappiamo sia lo smiles che il pubchem2d sono: {}'.format(len(sm_pub)))

I composti di cui sappiamo sia lo smiles che il pubchem2d sono: 2720

L'Hamming distance si basa sui caratteri del pubchem2d perciò la matrice delle distanze è relativa ai seguenti composti nell'ordine indicato:

In [11]:
sm_pub.cas.reset_index(drop = True)

0       10108-64-2
1          88-30-2
2        1397-94-0
3         540-72-7
4          72-43-5
           ...
2715      103-05-9
2716    14008-58-3
2717    52316-55-9
2718      499-83-2
2719       68-11-1
Name: cas, Length: 2720, dtype: object

Per quanto riguarda la matrice di distanze basate sul Tanimoto Index, bisogna controllare quali composti hanno la rappresentazione usando la funzione *rdkit.Fingerprints.Fingerprint* .

In [14]:
from rdkit.Chem import MolFromSmiles
from rdkit import DataStructs
from rdkit.Chem.Fingerprints import FingerprintMols

l1 = list()
idx_nofinprint = list()
for i in range(len(info.smiles)):
    try:
        l1.append(FingerprintMols.FingerprintMol(MolFromSmiles(info.smiles[i])))
    except:
        idx_nofinprint.append(i)
        continue

In [23]:
no_finprint = info.loc[idx_nofinprint]
no_finprint.shape

(504, 3)

Ci sono composti che sia lo smiles che il pubchem2d

In [22]:
print(len(no_finprint.smiles.unique()))
print(len(no_finprint.pubchem2d.unique()))

40
26

504 composti non hanno la rappresentazione usando la funzione **Fingerprint** di *rdkit*. Di questi 40 composti hanno lo smiles e 26 hanno anche il pubchem2d.

La matrice di distanza basata sul Tanimoto index risponde ai seguenti composti:

In [29]:
len(info)-len(idx_nofinprint)

2697

In [62]:
temp = info.copy()
temp.drop(idx_nofinprint).cas

0       10108-64-2
1          88-30-2
2        1397-94-0
4         540-72-7
5          72-43-5
           ...
3195      103-05-9
3196    14008-58-3
3198    52316-55-9
3199      499-83-2
3200       68-11-1
Name: cas, Length: 2697, dtype: object

COSE DA FARE:

1) Aggiornare il titolo dello script

2) Fare descrizione delle **variabili** del dataset final_db_processed.csv contenuto nella cartella dataset;  creare tabella con informazioni per tutti i composti e una relativa ai test fatti (simil final_db_processed)

3) Matrici di distanza tenere traccia dei composti a cui si riferiscono: per Hamming ho capito ed è dovuto semplicemente al fatto che si prendono solo i composti di cui si ha il pubchem2d; per Tanimoto bisogna andare a vedere i composti che non danno il FingerprintMol **FATTO**

4) clustering (vedere pubchem2d analisi)

5) Verificare che le specie animali costituiscano un albero filogenetico (script Species Analysis) **FATTO** (vedere script Species analysis)

6) Aggiungere il conteggio dei gruppi OH a *final_db_processed*